<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Uploaded Successfully</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resume Uploaded Successfully</h1>
        <p>Your resume has been uploaded. <a href="/download">Download here</a></p>
    </div>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Uploaded Successfully</title>
    <style>
        
    </style>
</head>
<body>
    <h1>Resume Uploaded Successfully</h1>
    <p>Your resume has been uploaded. <a href="/download" style="text-decoration: underline;">Download here</a></p>
</body>
</html> -->
